<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <h6>{{ user.username }}</h6>
            <a href="{% url 'logout' %}">chiqish</a>
        {% else %}
            <a href="{% url 'login' %}">Kirish</a>
              <a href="{% url 'signup' %}">Ro`yhatdan o`tish</a>
        {% endif %}
    </header>
        {% block content %}

        {% endblock %}
    <footer></footer>
</body>
</html>